<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- <title>queryData</title> -->
		<title>queryData</title>
	<link href="/static/css/vendor.f7079fe714a3417016ed.css" rel="stylesheet"><link href="/static/css/queryData.8974187a80d3f54c8555.css" rel="stylesheet"></head>
	<body>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	<script type="text/javascript" src="/static/js/manifest.98c0b8f8c1e73c61c0db.js"></script><script type="text/javascript" src="/static/js/vendor.f7079fe714a3417016ed.js"></script><script type="text/javascript" src="/static/js/queryData.8974187a80d3f54c8555.js"></script></body>
</html>